
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: sans-serif;
}
.page{
    width: 60.5%;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    margin-top:7rem;
   grid-template-areas: "clifford clifford  jonathan kira"
   "harmon patrick patrick kira";

}
@media screen and (max-width: 1100px) {
    .page{
        width: 70%;
        display: grid;
        grid-template-areas: "clifford  jonathan "
        "patrick harmon"
        "kira kira " ;
        grid-template-columns: 1fr 1fr; 
        margin-top: 3rem; 

}
.jonathan{
   min-width:220px;
   
}
.patrick {
    padding-bottom: 2rem;
}
.harmon{
    margin-left: 0.5rem;
}
.kira{
    min-width: 500px;
    margin-top: -0.5rem;
    margin-left:5rem ;
}
}
.clifford{
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: clifford;
    width: 454px;
    background-color: hsl(263, 55%, 52%);
    border-radius: 8px;
    margin-bottom: 3rem;

}
.image{
    background-image: url(./images/bg-pattern-quotation.svg);
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 0;
    left:18rem;
}
.profile{
    display: flex;
    padding: 1.5rem 1rem 0.5rem 1.5rem;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}
.date{
    color: hsl(0, 0%, 81%);
    font-weight: 700;
    margin-top: 0.3rem;
}
.verified{
    margin-top:  0.2rem;
    color:hsla(0, 0%, 81%,0.5) ;
    font-weight: 500;
}
h4{
    padding: 0rem 1rem 0.5rem 1.5rem;
    line-height: 1.3rem;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    z-index: 1;

}
.words{
    padding: 0rem 1rem 1.5rem 1.5rem;
    color: hsl(0, 0%, 81%);
    font-weight: 500;
    line-height: 1rem;
}
.jonathan{
    display: flex;
    flex-direction: column;
    width: 210px;
    background-color:hsl(217, 19%, 35%);
    grid-area: jonathan;
    margin-bottom: 3rem;
    border-radius: 8px;
    margin-right: 1rem;
}
.harmon{
    background-color:#fff ;
    grid-area: harmon;
    width: 220px;
    border-radius: 8px;
    margin-top: -2rem;
    margin-bottom: 2rem;
    margin-right: 0.5rem;

}
.harmon .profile{
    padding: 1.5rem 1rem  0 1.5rem ;
}
.harmon .date{
    color: hsl(217, 19%, 35%);
}
.harmon .verified{
    color:hsla(217, 19%, 35%,0.5) ;
}
.harmon h4{
    padding: 1rem 2rem  1rem 1.5rem ;
    line-height: 1.3rem;
    color:hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 15px;

}
.harmon .words{
    padding: 0rem 1.5rem  0 1.5rem ;
    color: hsl(217, 19%, 35%) ;
    font-weight: 500;
    line-height: 1rem;
}
.patrick{
    grid-area: patrick;
    background-color: hsl(219, 29%, 14%);
    color: white;
    width: 445px;
    border-radius: 8px;
    margin-top: -2rem;
    margin-bottom: 2rem;
    margin-left: 0.3rem;
    margin-right: 1rem;
}
.patrick h4{
    padding: 0.5rem 2rem 0.5rem 1.5rem ;
    line-height: 1.3rem;
    font-weight: 700;
    font-size: 13px;

}
.patrick .words{
    padding: 0rem 1rem  0 1.5rem ;
    font-weight: 500;
    line-height: 1rem;
}
.kira{
    width: 210px;
    grid-area: kira;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    margin-bottom: 2rem;
    margin-right: 1rem;
}
.kira .profile{
    display: flex;
    padding: 1.5rem 1rem 0rem 1.5rem;
}

.kira .date{
    color: hsl(217, 19%, 35%);
}
.kira .verified{
    color:hsla(217, 19%, 35%,0.5) ;
}
.kira h4{
    padding:1rem;
    line-height: 1.3rem;
    color:hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 15px;

}
.kira .words{
    padding: 0rem 1rem 1rem 1rem;
    color: hsl(217, 19%, 35%) ;
    font-weight: 500;
    line-height: 1rem;
}
@media screen and (max-width: 700px) {
    .page{
        display: flex;
        flex-direction: column;
    }
    .clifford{
       
        width:80% ;
        margin: 0 auto;
        margin-top: 2rem;
        min-width:300px;
        max-width: 300px;
    }
    .profile{
        display: flex;
        z-index: 1;
    }
    h4{
        z-index: 1;
    }
    .profile img{
        width: 50px;
        height: 50px;
        margin-right: 0.5rem;
        border-radius: 50%;
    }
    .jonathan{
        min-width:300px;
        max-width: 300px;
        width:80% ;
        margin: 0 auto;
        margin-top: 1rem;

    }
    .harmon{
        min-width:300px;
        max-width: 300px;
        width:80% ;
        margin: 0 auto;
        margin-top: 1rem;
        padding-bottom: 1.5rem;
    }
    .patrick{
        min-width:300px;
        max-width: 300px;
        width:80% ;
        margin: 0 auto;
        margin-top: 1rem;
        padding-bottom: 1.5rem;


    }
    .kira{
        min-width:300px;
        max-width: 300px;
        width:80% ;
        margin: 0 auto;
        margin-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;

    }
    .image{
        background-image: url(./images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        background-size: 75%;
        position: absolute;
        left:13rem;
        z-index: 0;
    }

}